.contenedor{
    width: 98%;
    margin: auto;
    display: flex;
    
}
#info{
    background: #fff;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    

}
.info .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-pet{
    margin: 20px;
}

.info-pet img{
    width: 180px;
    height: 180px;
    border-radius: 30%;
    border: 7px solid gray;

}
.info-pet:hover{
    width: 190px;
    height: 190px;
    border-radius: 45% ;
    color: #346b7e;
    text-decoration: underline;
    /* margin-bottom: 100px; */
    
    
}